.c {
    background: hsl(355, 75%, 25%);
    z-index: 2;
    padding: 1.5rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: hsl(355, 100%, 80%);
    font-size: 1.25rem;
    transition: all 500ms var(--curve-snap);
    margin-inline: auto;
}

.limiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: hsl(355, 75%, 25%);
}
.c h1 {
    font-size: 1.5em;
    font-family: var(--font-inter);
    font-weight: 400;
}
.counter {
    font-size: 4rem;
    color: hsl(355, 100%, 80%);
}
.number {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.number h3 {
    font-size: 2rem;
    margin-left: 0.25em;
}