.hero {
    width: 100%;
    height: 40rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.hero .backdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    opacity: 1;
}
.hero .titleImage {
    width: auto;
    max-width: 100%;
    object-fit: contain;
    max-height: 14rem;
    height: auto;
    z-index: 1;
    right: 0px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 2em;
    filter: drop-shadow(0px 0px 25px black);
}
.hero .header {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 2;
    padding-inline: 2rem;
    background: linear-gradient(90deg, var(--background-950), transparent);
    /* text-shadow: 4px 8px 20px rgba(0,0,0,0.5); */
}
.hero .header .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    position: relative;
}
.hero .header h1 {
    text-align: inhreit;
    font-size: 3.5rem;
    max-width: 60%;
    line-height: 1em;
    margin-bottom: 0.36em;
}
.hero .header p {
    font-size: 1rem;
    width: 100%;
    max-width: 32rem;
    text-align: inherit;
    color: var(--text-300);
    line-height: 1.5em;
    margin-bottom: 1.5em;
}



/* Alignments */

.center .header .body {
    align-items: center;
}
.center .header {
    background: transparent;
}


.right .header .body {
    align-items: flex-end;
}
.right .header {
    background: linear-gradient(-90deg, var(--background-950), transparent);
}
.right .header p, .right .header h1 {
    text-align: right;
}