.grid {
    width: 100%;
    padding: 1rem;

    display: grid;
    grid-template-columns: 5fr 3fr 3fr;
    grid-template-rows: auto;
    gap: 1rem;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2rem;
}
.title h1 {
    font-size: 3rem;
}
.title p {
    font-size: 2em;
    margin-top: 1.2em;
    padding-inline: 1rem;
    line-height: 1.6em;
}
.nomination:hover {
    padding: 0.125rem;
}
.nomination {
    width: 100%;
    height: auto;
    aspect-ratio: 6/1;
    padding: 0.25rem;
    transition: 125ms all var(--curve-snap);
}
.card {
    border-radius: 1rem;
    background-color: var(--primary-900);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 30rem;
    transition: 125ms all var(--curve-snap);
    outline: var(--background-925) 2px solid;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.232);
}
.card::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: linear-gradient(0deg, var(--background-950), transparent, transparent);
}
.card .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    scale: 1.01;
    object-fit: cover;
    object-position: top;
    z-index: 0;
    transition: 125ms all var(--curve-snap);
}
.card:hover .link {
    height: 3rem;
    width: 3rem;
}
.card:hover {
    background-color: var(--background-800);
}
.card:hover .image {
    scale: 1.125;
}
.card .link {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    transition: 125ms all var(--curve-snap);
}
.card .link img {
    width: 100%;
    height: 100%;
}
.card .content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.1rem;
    z-index: 10;
    text-align: center;
    padding: 1rem;
}



@media screen and (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20rem 25rem;
        max-width: 650px;
    }
    .title {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        padding-top: 0px;
    }
    .title h1 {
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 75vw;
    }
    .content > h1 {
        font-size: 1.5rem;
    }
    .title {
        height: fit-content;
        margin-bottom: 1.5rem;
    }
    .title h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .title p {
        font-size: 1.25rem;
    }
}