.nav {
    display: flex;
    gap: 2rem;
    background: linear-gradient(-90deg, var(--primary-950), var(--primary-900));
    align-items: center;
}
.nav > *:last-child {
    margin-left: auto;
}
.nav .logo {
    color: var(--white-900);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem !important;
    gap: 16px;
    background-color: transparent;
    padding: .25rem 1rem;
    transition: background-color 250ms var(--curve-snap);
}
.nav .logo:hover {
    background-color: var(--primary-800);
}
.nav .logo img {
    height: 3rem;
    width: auto;
}
.nav h3 {
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
}
.nav .links {
    font-size: 1rem;
    display: flex;
    gap: 16px;
    align-items: center;
}
.nav .links a:hover {
    color: var(--primary-500);
}
.active {
    color: var(--primary-500);
}
.inactive {
    color: var(--white-900);
}

@media only screen and (max-width: 700px) {

    .nav h3 {
        display: none;
    }

}

@keyframes logoRotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}