.g {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    max-height: 50rem;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
    align-items: center;
}

.c {
    height: 40rem;
    max-height: 90vh;
}

.rtl .media, .ltr .body {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
.rtl .body, .ltr .media {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.media {
    width: 100%;
    height: 100%;
    max-height: 30rem;
}
.body {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}
.body .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;

    font-size: 1.25rem;
    color: hsl(var(--primary-hue), 25%, 90%);
}

.card {
    position: relative;
    border-radius: 0rem;
    overflow: hidden;
    box-shadow: 0rem 1rem 2rem 0rem transparent;
    background: transparent;
    transition: all 250ms var(--curve-snap);
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
}
.card .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    scale: 1;
    border-radius: 0rem;
}
.card .video video {
    object-fit: cover;
    border-radius: 0rem;
}
.info {
    color: hsl(var(--secondary-hue), 75%, 90%);
    padding: 1.75rem 2rem;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}
.info h4 {
    font-size: 2.5em;
    color: hsl(var(--primary-hue), 50%, 90%);
}
.info p {
    margin-top: 0.5em;
    line-height: 1.25em;
    color: hsl(var(--primary-hue), 25%, 80%);
}
.media {
    font-size: 1.5em;
}
.media .info {
    color: hsl(var(--secondary-hue), 75%, 70%);
}

.ltr > .media {
    
}


@media screen and (max-width: 700px) {
    .g {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .c {
        height: fit-content;
        max-height: unset;
    }
    .info h4 {
        font-size: 2.5rem;
    }
    .card {
        max-height: 50vh;
    }
    .media {
        height: 50rem;
        max-height: 75vh;
    }
}