.flow {
    display: flex;
    flex-direction: column;
    height: 1em;
    /* outline: 1px solid red; */
    overflow: hidden;
    width: .45em;
    position: relative;
    font-size: 1em;
    color: white;
    font-family: var(--font-antonio);
}
.shifter { 
    display: flex;
    flex-direction: column-reverse;
    transition: 250ms var(--curve-snap);
    /* overflow: hidden; */
    font-size: inherit;
    position: relative;
}
.shifter span {
    max-height: 1.1em;
    font-size: inherit;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0.1em;
}