.c {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    background-color: hsl(var(--primary-hue), 75%, 2.5%);
    overflow: auto;
    z-index: 1;
    color: white;

    display: flex;
    flex-direction: column;
}
.g {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    position: relative;
    background-color: hsl(var(--primary-hue), 75%, 2.5%);
}
.maxHeight video {
    max-height: 80vh;
    object-fit: cover;
}
.title {
    color: hsl(355, 100%, 40%);;
    font-size: 8rem;
    margin-top: 25vh;
    z-index: 10;
}
.subtitle {
    color: hsl(var(--primary-hue), 75%, 90%);;
    font-size: 6rem;
    text-align: center;
    margin-top: 10vh;
    z-index: 10;
}
.background {
    position:   fixed;
    top:        0px;
    left:       0px;
    width:      100%;
    height:     100%;
    object-fit: cover;
    overflow: hidden;
    opacity: 1;
    filter: blur(16px);
    /* animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) img-show; */
}
.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background::after {
    content: "";
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, hsla(var(--primary-hue), 0%, 0%, 75%), hsla(var(--primary-hue), 0%, 0%, 100%), hsla(var(--primary-hue), 0%, 0%, 75%));
    z-index: 10;
}
@keyframes img-show {
    0% {
        scale: 2;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}