.c {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    background-color: hsl(var(--primary-hue), 75%, 2.5%);
    overflow: auto;
}
.g {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    position: relative;
    background-color: hsl(var(--primary-hue), 75%, 2.5%);
    box-shadow: 0px 0px 8rem 4rem hsl(var(--primary-hue), 75%, 2.5%);
}
.maxHeight video {
    max-height: 80vh;
    object-fit: cover;
}
.title {
    color: hsl(var(--primary-hue), 75%, 90%);;
    font-size: 8rem;
    margin-top: 25vh;
}
.subtitle {
    color: hsl(var(--primary-hue), 75%, 90%);;
    font-size: 6rem;
    text-align: center;
    margin-top: 10vh;
}
.background {
    position:   fixed;
    top:        0px;
    left:       0px;
    width:      100%;
    height:     100%;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.25;
    /* filter: blur(16px); */
    /* animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) img-show; */
}
@keyframes img-show {
    0% {
        scale: 2;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}