.c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5rem;
}

@media screen and (max-width: 700px) {
    .c {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    .c {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }
}