.c {
    display: flex;
    max-width: 100%;
    width: 100%;
    gap: 1rem;
    justify-content: center; /* Horizontally centers the grid */
    align-content: center; /* Vertically centers the grid */
}

@media (max-width: 900px) {
    .c {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    .c {
        display: flex;
        flex-direction: column;
    }
}