.c {
    display: flex;
    flex-direction: column;
    background-color: var(--background-950);
}
.background {
    width: 100%;
    max-height: 700px;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.hero {
    width: 100%;
    height: 38rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.backdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    opacity: 1;
}
.titleImage {
    width: auto;
    max-width: 100%;
    object-fit: contain;
    max-height: 14rem;
    height: auto;
    z-index: 1;
    right: 0px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 2em;
    filter: drop-shadow(0px 0px 25px black);
}
.hero .header {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 2;
    padding-inline: 2rem;
    background: linear-gradient(90deg, black, transparent);
    /* text-shadow: 4px 8px 20px rgba(0,0,0,0.5); */
}
.hero .header .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    position: relative;
}
.hero .header h1 {
    text-align: left;
    font-size: 3.5rem;
    max-width: 60%;
    line-height: 1em;
    margin-bottom: 0.36em;
}
.hero .header p {
    font-size: 1.1rem;
    width: 100%;
    max-width: 32rem;
    text-align: left;
    color: var(--text-700);
    line-height: 1.5em;
    margin-bottom: 1em;
}
.padding {
    padding-block: 1.5rem 1.5rem;
}

.btn {
    background-color: var(--background-200);
    color: var(--background-900);
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    transition: all 200ms var(--curve-snap);
}
.btn:hover {
    background-color: var(--background-100);
    border: none;
    color: black;
    padding: 0.5rem 2.5rem;
}